@media screen and (max-width: 737px) {
#wb-bc li:before {
		color: #284162;
		content: "<"!important;
		font-family: "Glyphicons Halflings";
		font-size: 0.8em;
	}
	#wb-bc a {
			text-decoration:none;
			padding-left: 0px!important;
	}
}
@media screen and (min-width: 737px) {
	.no-break-breadcrumb {
		display: inline-block!important;
	}
}
